/* STYLE */
:root {
    --grad-background-dark: #161c16;
    --grad-background-light: #222033;
    --background-grey: #1F1E28;
    --black: #000000;
    --white: #ffffff;

    --scrollbar-width: 20px;
    --scrollbar-thumb: var(--white);
    --scrollbar-track: #1F1E28;
    --scrollbar-radius: 4px; 

    --tab-background : #2a2733;
}
/*
html {
    scrollbar-width: normal;
    scrollbar-color: red, green;
}

html::-webkit-scrollbar {
    width: 15px;
}
html::-webkit-scrollbar-thumb {
    background-color: var(--white);
    border-radius: 50px;
}
html::-webkit-scrollbar-track {
    background-color: var(--background-grey);
}
*/
/* BODY */
body {
    overflow: hidden;
    height: 100vh;
    margin: 0%;
    font-family: "Arial";
    background: linear-gradient(to bottom, var(--grad-background-light), var(--grad-background-dark));
    display: flex;
}

/* RESET H1 / H2 / H3 / p */
h1, h2, h3, p {
    margin: 0;
    line-height: 1;
}

/* SIDEBAR */
.sidebar {
    position: relative;
    width: 20vw;
    height: 100vh;
    background: var(--background-grey);
    color: var(--white);
    padding: 0;
    box-sizing: border-box;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: all 0.2s ease-out;

}
.sidebar-closed {
    transform: translateX(-80%);
    transition: all 0.2s ease-out;
}
.sidebar-open {
    transform: translateX(0%);
    transition: all 0.2s ease-out;
}

/* SIDEBAR CONTENT SCROLLBAR */
.sidebar-content {
    max-height: 80vh;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: 13vh;
    margin-right: 0;
}
.sidebar-content::-webkit-scrollbar {
    width: 8px;
    top: 5vh;    
}
.sidebar-content::-webkit-scrollbar-thumb {
    background-color: var(--white);
    border-radius: 50px;
}
.sidebar-content::-webkit-scrollbar-track {
    background-color: transparent;
}
.sidebar-content::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff67;
}

.scrollbar-sidebar-closed::-webkit-scrollbar{
    width: 0px;;
    transition: all 0.7s ease-out;
}
/* TOP */
.sidebar .logo {
    position: absolute;
    top: 1.3vh;
    left: 1.3vh;
    width: 3.5vw;
    height: 3.5vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9;   
}
.sidebar .close-sidebar {
    position: absolute;
    top: 2.8vh;
    right: 0.5vw;
    width: 7vh;
    height: 7vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    z-index: 9;   
}
.sidebar .logo:hover {
    cursor: pointer;
}
.sidebar .close-sidebar:hover {
    transform: scale(110%);
}

.sidebar a img {
    text-decoration: none;
    border: none;
}

/* ACCOUNT AREA */
.sidebar .account-section {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 1vh;
    margin-left: 0.75vw;
}
.sidebar .account-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 60%;
    gap: 7px;
    margin-left: 1vh;
}
.sidebar .profile-picture {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    object-fit: cover;
    z-index: 10;
}
.sidebar .account-name {
    margin-top: 0;
    padding: 0;
    font-size: 24px;
    font-family: "Inter";
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-decoration: none;
    z-index: 10;
}
.sidebar .account-username {
    position: relative;
    font-size: 16px;
    font-family: "Inter";
    font-weight: 100;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.1;
    z-index: 10;
}
.sidebar .account-setting {
    position: relative;
    font-size: 1vw;
    font-family: "Inter";
    font-weight: 900;
    color: black;
    background-color: white;
    border-radius: 50px;
    padding: 0.2vw 0.5vw;
    text-decoration: none;
    transition: all 0.2;
    z-index: 10;
}
/* .sidebar .account-setting::after {
    content: "";
    position: absolute;
    left: 5%;
    bottom: 1.5px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.2s;
} */
.sidebar .lildots {
    position: absolute;
    top: 13vh;
    right: 2vw;
    width: 4vh;
    height: 4vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    z-index: 9;   
}
.sidebar .divider {
    position: relative;
    bottom: -5vh;
    left: -2.6vh; 
    content: "";
    display: block;
    width: 80%; 
    height: 5px;
    background-color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.sidebar .account-setting:hover {
    background-color: rgba(255, 255, 255, 0.596);
    cursor: pointer;
}
/* .sidebar .account-setting:hover::after {
    width: 90%;
} */
.sidebar .account-username::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0;
    height: 1.5px;
    background-color: white;
    transition: width 0.1s;
}
.sidebar .account-username:hover {
    cursor: pointer;
}
.sidebar .account-username:hover::after {
    width: 100%;
}
.sidebar .lildots:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* TABS CONTENT */
.tab-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5vh;
    padding: 10px 5px;
    margin-top: 7.5vh;
    margin-left: 1vw;
    overflow: hidden;
}
.tab-content .tab {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
    margin-top: 0;
    height: 100%;
    border-radius: 15px;
    transition: all 0.2s ease-out;
}
.tab-content .tab:hover {
    background-color: var(--tab-background);
    cursor: pointer;
}
.tab-content .tab-icon {
    width: 5vh;
    height: 5vh;
    object-fit: contain;
}
.tab-content .tab-icon.user-profilepicture {
    border-radius: 50%;
    object-fit: cover;
}
.tab-content .tab-text {
    font-size: 18px;
    font-family: "Inter";
    font-weight: 600;
    color: var(--white);
    text-decoration: none;
}
.tab-sidebar-closed {
    transform: translateX(76%);
    transition: all 0.2s ease-out;
}
.tab-sidebar-opened {
    transform: translateX(0%);
    transition: all 0.2s ease-out;
}
.tab-text-sidebar-closed {
    font-size: 0px ;
}
.tab-text-sidebar-opened {
    font-size: 1.8vw ;
}

/* POST BUTTON */
.post-button {
    position: absolute;
    width: 15vw;
    height: 4.3vw;
    bottom: 2.5vh;
    left: 2.5vw;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
}
.post-button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    font-family: "Inter";
    font-weight: 800;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.post-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.post-button-sidebar-closed {
    transform: translateX(-80%);
        transition: transform 0.2s ease-out;

}
.post-button-sidebar-opened {
    transform: translateX(0%);
}

/*MAIN CONTENT */
.main_content {
    flex: 1;
    padding: 20px;
}

/* SCROLLBAR FOR MAIN CONTENT */
.main_content::-webkit-scrollbar {
    width: var(--scrollbar-width);    
}
.main_content::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: var(--scrollbar-radius);
}
.main_content::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
}
.main_content::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff67;
}

/* POST TEMPLATE */


/* LOGIN PAGE */
.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.login-box {
    width: 30vw;
    height: 65vh;
    background-color: var(--background-grey);
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.login-title {
    font-size: 32px;
    font-family: "Inter";
    font-weight: 900;
    color: var(--white);
}
.login-subtitle {
    font-size: 18px;
    font-family: "Inter";
    font-weight: 400;
    color: var(--white);
    text-align: center;
}
.login-button {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 18px;
    font-family: "Inter";
    font-weight: 600;
    color: var(--black);
    background-color: var(--white);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 60%;
    height: 8vh;
}
.login-button:hover {
    background-color: #e0e0e0bc;
}
.login-cross-button {
    align-self: flex-start;
    padding: 10px;
    color: var(--white);
    background-color: transparent;
    cursor: pointer;
    width: 4vh;
    height: 4vh;
    margin-top: 0;
    }
.login-cross-button:hover {
    transform: scale(1.1);
}
.login-logo {
    position: absolute;
    width: 8vh;
    height: 8vh;
    padding: 0;
}